.header {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--header-outline);
  border-radius: 15px;
}

.header img {
  width: 6rem;
}

.score {
  color: var(--score-text);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  min-width: 5.5rem;
  min-height: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  letter-spacing: 0.25ch;
  border-radius: 8px;
}

.score span {
  color: var(--dark-text);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

@media (min-width: 768px){
  .header {
    width: 80%;
    padding: 1.5rem;
    border: 4px solid var(--header-outline);
  }

  .header img {
    width: 8rem;
  }

  .score {
    min-width: 8.5rem;
    min-height: 6.25rem;
    padding-top: 0;
    padding-bottom: 1.25rem;
  }
  
  .score span {
    font-size: 3.5rem;
    margin-top: 0.75rem;
  }
}