.pick {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  transition: transform 400ms ease-in-out;
}

.title {
  font-size: 0.9rem;
  letter-spacing: 0.25ch;
  font-weight: 700;
}

@media (min-width: 768px){
  .pick {
    flex-direction: column;
    gap: 3rem;
  }

  .title {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px){
  .pick {
    gap: 5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}