.button {
  width: var(--shape-width);
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: var(--shadow-inset);
  cursor: pointer;
  transition: scale 200ms ease-in-out;
  position: relative;
}

.button::before {
  content: '';
  display: block;
  width: var(--shape-frame-width);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: var(--shadow-frame-inset);
  position: absolute;
  z-index: -1;
}

.button[data-shape=''] {
  background-color: var(--dark-text);
}
.button[data-shape='rock']::before {
  background: var(--rock-gradient);
}
.button[data-shape='paper']::before {
  background: var(--paper-gradient);
}
.button[data-shape='scissors']::before {
  background: var(--scissors-gradient);
}
.button[data-shape='spock']::before {
  background: var(--spock-gradient);
}
.button[data-shape='lizard']::before {
  background: var(--lizard-gradient);
}
.button[data-winner="true"]{
  box-shadow: var(--shadow-winner);
}

.shape {
  width: 45%;
  aspect-ratio: 1;
}


/* Pick */

.button[data-pick='true'] {
  width: var(--shape-pick-width);
  cursor: auto;
}

.button[data-pick='true']::before {
  width: var(--shape-pick-frame-width);
}

/* Bonus */
.button[data-bonus='true'] {
  width: var(--shape-bonus-width);
}
.button[data-bonus='true']::before {
  width: var(--shape-bonus-frame-width);
}