.choice_container {
  width: var(--container-size);
  max-width: 300px;
  aspect-ratio: 1;
  background-image: url('/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: var(--choice-bg-size);
  position: relative;
}

.choice_container > div {
  position: absolute;
  z-index: 5;
}

.choice_container > div:first-child {
  top: 0;
  left: 0;
  transform: translateX(10%);
}
.choice_container > div:nth-child(2) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -10%);
}
.choice_container > div:last-child {
  top: 0;
  right: 0;
  transform: translateX(-10%);
}

@media (min-width: 768px){
  .choice_container > div:first-child {
    top: 5%;
    left: 0;
    transform: translateY(-5%);
  }
  .choice_container > div:nth-child(2) {
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
  }
  .choice_container > div:last-child {
    top: 5%;
    right: 0;
    transform: translateY(-5%);
  }
}

@media (min-width: 768px){
  .choice_container {
    max-width: 480px;
  }
}