#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

.button {
  background: transparent;
  border: 2px solid white;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  border-radius: 10px;
  cursor: pointer;
}

.rules, .switch-mode {
  position: absolute;
  bottom: 3rem;
}

.rules {
  right: 3rem;
}

.switch-mode {
  left: 3rem;
}