#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.button {
  background: transparent;
  border: 1px solid white;
  font-size: var(--button-font-size);
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.rules, .switch-mode {
  position: absolute;
  bottom: 2rem;
}

.rules {
  right: 2rem;
}

.switch-mode {
  left: 2rem;
}

.switch-mode[data-disabled='true']{
  opacity: 0.6;
  cursor: not-allowed;
}

@media (min-width: 768px){
  .button {
    border: 2px solid white;
    padding: 0.75rem 3rem;
  }

  .rules, .switch-mode {
    bottom: 3rem;
  }
  
  .rules {
    right: 3rem;
  }
  
  .switch-mode {
    left: 3rem;
  }
}